<div class="sm:pl-60 pl-2 py-5 pb-24 text-[#1e1e1e]">
  <div class="flex justify-between px-1">
    <p class="text-2xl text-[#c99c33] font-semibold">Welcome, {{ username }}</p>
    <app-logout></app-logout>
  </div>

  <p class="py-5">
    Want to search through a time range?
    <span
      class="bg-light text-custom-blue font-semibold cursor-pointer"
      (click)="openDialog()"
    >
      Click here
    </span>
  </p>

  <div class="flex sm:gap-5">
    <p class="font-semibold">RESULT ({{ flights.length }})</p>
    <div class="flex flex-col my-auto">
      <ng-container *ngIf="isSameDay(displayInfo); else differentDay">
        <small>
          These are flights arriving between
          <span class="text-custom-blue font-semibold">{{
            this.utilsService.unixToGMT(displayInfo[0])
          }}</span>
          and
          <span class="text-custom-blue font-semibold">{{
            this.utilsService.unixToGMT(displayInfo[1])
          }}</span>
          on
          <span class="text-custom-blue font-semibold">{{
            this.utilsService.unixToDate(displayInfo[0])
          }}</span>
        </small>
      </ng-container>
      <ng-template #differentDay>
        <small>
          These are flights arriving between
          <span class="text-custom-blue font-semibold"
            >{{ this.utilsService.unixToGMT(displayInfo[0]) }}
            {{ this.utilsService.unixToDate(displayInfo[0]) }}</span
          >
          and
          <span class="text-custom-blue font-semibold"
            >{{ this.utilsService.unixToGMT(displayInfo[1]) }}
            {{ this.utilsService.unixToDate(displayInfo[1]) }}</span
          >
        </small>
      </ng-template>
    </div>
  </div>

  <div
    class="bg-white sticky top-0 text-sm text-custom-blue font-bold px-5 py-2 border-b-4 grid grid-cols-4 gap-6 md:gap-16 lg:gap-36 xl:gap-56"
  >
    <p>FLIGHT</p>
    <p class="sm:pl-7">DEPARTURE</p>
    <div>
      <p class="sm:pl-7 pl-2">ARRIVAL</p>
    </div>
    <p>DEPARTURE DATE</p>
  </div>

  <div *ngIf="flightsService.isLoading">
    <p>Loading...</p>
  </div>
  <div *ngIf="flights.length == 0 && !flightsService.isLoading">
    <p class="text-center">No flights available...</p>
  </div>

  <div *ngIf="!flightsService.isLoading">
    <div
      *ngFor="let item of pageSlice"
      class="bg-white border-b-4 border-double p-5 grid grid-cols-4 gap-6 md:gap-16 lg:gap-36 xl:gap-56 rounded-lg"
    >
      <p class="my-auto text-custom-blue">
        {{ item.callsign }}
      </p>
      <div class="flex flex-col items-center">
        <p class="sm:text-2xl text-xl text-custom-blue">
          {{ item.estDepartureAirport }}
        </p>
        <p class="sm:text-md text-xs">
          {{ this.utilsService.unixToGMT(item.firstSeen) }}
        </p>
      </div>
      <div class="flex flex-col items-center justify-center">
        <p class="sm:text-2xl text-xl text-custom-blue">
          {{ item.estArrivalAirport }}
        </p>
        <p class="sm:text-md text-xs">
          {{ this.utilsService.unixToGMT(item.lastSeen) }}
        </p>
      </div>
      <p class="m-auto text-sm">
        {{ this.utilsService.unixToDate(item.firstSeen) }}
      </p>
    </div>
    <mat-paginator
      #paginator
      [length]="this.flights.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="OnPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
