<div class="text-custom-black lg_background">
  <div class="flex pt-10 justify-center gap-1 text-[#c99c33]">
    <ng-icon name="bootstrapAirplaneEnginesFill" class="text-3xl"> </ng-icon>
    <p class="font-semibold text-3xl">OpenSKY</p>
  </div>
  <div class="flex flex-col items-center pt-20 min-h-screen w-[99vw]">
    <p>Page not found</p>
    <p
      class="cursor-pointer text-custom-blue text-lg underline"
      (click)="handleReturn()"
    >
      Return To HomePage
    </p>
  </div>
</div>
