<div
  class="sm:pl-60 pl-5 py-3 pb-24 flex flex-col text-left font-semibold text-custom-blue"
>
  <p class="text-2xl">STATISTICS</p>

  <div class="flex flex-col my-auto">
    <ng-container
      *ngIf="this.utilsService.isSameDay(rangeInfo); else differentDay"
    >
      <small>
        This is airport information about flights between

        <span class="text-custom-blue font-semibold">{{
          this.utilsService.unixToGMT(rangeInfo[0])
        }}</span>
        and
        <span class="text-custom-blue font-semibold">{{
          this.utilsService.unixToGMT(rangeInfo[1])
        }}</span>
        on
        <span class="text-custom-blue font-semibold">{{
          this.utilsService.unixToDate(rangeInfo[0])
        }}</span>
      </small>
    </ng-container>
    <ng-template #differentDay>
      <small>
        This is airport information about flights between
        <span class="text-custom-blue font-semibold"
          >{{ this.utilsService.unixToGMT(rangeInfo[0]) }}
          {{ this.utilsService.unixToDate(rangeInfo[0]) }}</span
        >
        and
        <span class="text-custom-blue font-semibold"
          >{{ this.utilsService.unixToGMT(rangeInfo[1]) }}
          {{ this.utilsService.unixToDate(rangeInfo[1]) }}</span
        >
      </small>
    </ng-template>
    <small
      >The time is the most recent arrival or departure at the airport</small
    >
  </div>

  <div
    class="bg-white sticky top-0 border-b-4 border-double p-5 grid grid-cols-4 gap-6 md:gap-16 lg:gap-36 xl:gap-56 rounded-lg"
  >
    <div>
      <p class="font-bold">AIRPORT</p>
      <p class="">({{ airportInfo.length }})</p>
    </div>
    <p class="font-bold text-center">TIME</p>
    <p class="font-bold text-center">ARRIVING</p>
    <p class="font-bold text-center">DEPARTING</p>
  </div>

  <div *ngIf="flightsService.rangeLoading">
    <p>Loading...</p>
  </div>
  <div *ngIf="airportInfo.length == 0 && !flightsService.rangeLoading">
    <p class="text-center">No flights available...</p>
  </div>

  <div *ngIf="!flightsService.rangeLoading">
    <div
      *ngFor="let item of pageSlice"
      class="bg-white font-normal border-b-4 border-double p-5 grid grid-cols-4 gap-6 md:gap-16 lg:gap-36 xl:gap-56 rounded-lg"
    >
      <p class="font-semibold">
        {{ item.airport }}
      </p>
      <p class="text-center">
        {{ this.utilsService.unixToGMT(item.lastSeen) }}
      </p>
      <p class="text-center">
        {{ item.arriving }}
      </p>
      <p class="text-center">
        {{ item.departing }}
      </p>
    </div>
    <mat-paginator
      #paginator
      [length]="this.airportInfo.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="OnPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
